# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
/vendor/
/bin/
*.out

# Node / Frontend
node_modules/
dist/
build/
.cache/


# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Swagger generated
/docs/swagger/swagger.json
/docs/swagger/swagger.yaml

# Test
coverage.out
coverage.html

# Code Review Graph
.code-review-graph/

# Temporary
tmp/
